<div class="col-md-6 offset-md-2">
    <form (ngSubmit)="addDepartment(addDepartmentForm)" #addDepartmentForm = "ngForm">

            <div class="form-group">
                <label for="inputDepartmentCode">Enter department code</label>
                <input type="text" ngModel name="departmentCode" id="inputDepartmentCode" class="form-control" placeholder='for example  "CSD" ' required autofocus #inputDepartmentCode = "ngModel">                       
            </div>
    
            <div class="form-group">
                 <label for="inputDepartmentName">Enter department name</label>
                <input type="text"ngModel id="inputDepartmentName" class="form-control" required name="departmentName" #inputDepartmentName = "ngModel">
            </div>

            <div class="form-group">
                <label for="inputSchool">Select school</label>
                <select ngModel class="form-control" id="inputSchool" name="school" required #inputSchool = "ngModel">
                  <option *ngFor="let school of allSchools" value="{{ school.schoolId }}">{{ school.schoolName }}</option>
                </select>
            </div>            
            
            <div class="form-group">
                    <label for="inputHod">Enter name of HOD</label>
                   <input type="text"ngModel id="inputHod" class="form-control" required name="hod" #inputHod = "ngModel">
               </div>
    
            <div *ngIf="status==='failure'" class="form-group alert alert-danger">  
                    Couldn't add Department
            </div>
          
            <button class="btn btn-lg btn-success" type="submit" [disabled] = "!addDepartmentForm.valid">Add Department</button>                
     </form><!-- /form -->
</div>
