<div class="container">
        <div class="card card-container border-secondary mb-3" style="border-width:2px;">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//www.skemoney.com/Login_Images/login22.png" />
            <h4 align="center"><strong>ERP Login</strong></h4>
            <br>

            <form (ngSubmit)="onSubmit(loginForm)" #loginForm = "ngForm">

                <div class="form-group">
                    <input type="text" ngModel name="netId" id="inputNetId" class="form-control" placeholder="Enter Net ID" required autofocus #inputNetId = "ngModel">                       
                    <div class="alert alert-danger" *ngIf="inputNetId.touched && !inputNetId.valid">
                        Net ID can't be blank
                    </div>
                </div>

                <div class="form-group">
                    <input type="password"ngModel id="inputPassword" class="form-control" placeholder="Enter Password" required name="password" #inputPassword = "ngModel">
                    <div class="alert alert-danger" *ngIf="inputPassword.touched && !inputPassword.valid">
                            Password can't be blank
                        </div>
                    </div>

                <div class="form-group">
                      <div class="radio">
                        <input id="admin" name="user" type="radio" value="admin" required ngModel checked>
                        <label for="admin" class="radio-label">Admin</label>
                      </div>
                    
                      <div class="radio">
                        <input id="faculty" name="user" type="radio" value="faculty" required ngModel>
                        <label  for="faculty" class="radio-label">Faculty</label>
                      </div>
                    
                      <div class="radio">
                        <input id="student" name="user" type="radio" value="student" required ngModel>
                        <label for="student" class="radio-label">Student</label>
                      </div>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" [disabled] = "!loginForm.valid">Sign in</button>                
                </form><!-- /form -->
        </div><!-- /card-container -->
</div><!-- /container -->